.box{
    width: 100px;
    height: 200px;
background-color: aquamarine;
float: right;
margin: 10pt;
}
.box1{
    width: 100px;
    height: 200px;
background-color: blue;
float: right;
margin: 10pt;
 
}
.box2{
    width: 100px;
    height: 200px;
background-color: aquamarine;
float: right;
margin: 10pt;
}